<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>About</title>


	<!-- swiper CSS link-->
	<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

	<!-- font cdn link-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>

<!-- custom css-->
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css')}}">

</head>
<body>

<!--header section start -->
<section class="header">

<a href="home" class="logo">Travel.</a>
<nav class="navbar">
	<a href="/home">Home</a>
	<a href="/tabout">About</a>
	<a href="/Package">Package</a>
	<a href="/tbook.">Book</a>
</nav>

<div id="menu-btn" class="fas fa-bars"></div>

 </section>

<!--header section end-->
<div class="heading" style="background: url(  {{ url_for('static',filename='book.jpg')}}) no-repeat;">
	
	<h1>Book now</h1>

</div>

<!--Boook Section Start-->

<section class="booking">
	<h1 class="heading-title">Book your Trip!</h1>
<form action="/tbook" method="post" class="book-form">
	<div class="flex">
		<div class="inputbox">
			<span>name:</span>
			<input type="text" placeholder="Enter your name" name="name">
		</div>
		<div class="inputbox">
			<span>email:</span>
			<input type="email" placeholder="Enter your email" name="email">
		</div>
		<div class="inputbox">
			<span>phone number:</span>
			<input type="number" placeholder="Enter your phone number" name="phone">
		</div>
		<div class="inputbox">
			<span>address:</span>
			<input type="text" placeholder="Enter your address" name="address">
		</div>
		<div class="inputbox">
			<span>where to:</span>
			<input type="text" placeholder="Place you want to visit" name="location" id="location">
		</div>
		<div class="inputbox">
			<span>How many:</span>
			<input type="number" placeholder="Number of guests" name="guests">
		</div>
		
	</div>
	<input type="submit" value="submit" class="btn" name="send">
</form>
</section>
<!--Boook Section end-->











<!--footer-->
<section class="footer">
	<div class="box-container">
		<div class="box">
			<h3>Quick Links</h3>
			<a href="home"><i class="fas fa-angle-right"></i> Home</a>
			<a href="about"><i class="fas fa-angle-right"></i>About</a>
			<a href="Package"><i class="fas fa-angle-right"></i>Package</a>
			<a href="Book"><i class="fas fa-angle-right"></i>Book</a>
		</div>
		
		<div class="box">
			<h3>Extra Links</h3>
			<a href="#"><i class="fas fa-angle-right"></i>Ask Questions</a>
			<a href="#"><i class="fas fa-angle-right"></i>About us</a>
			<a href="#"><i class="fas fa-angle-right"></i>Privacy policy</a>
			<a href="#"><i class="fas fa-angle-right"></i>Terms of use</a>
		</div>

		<div class="box">
			<h3>Contact info</h3>
		
			<a href="#"><i class="fas fa-phone"></i>+123-456-7890</a>
			<a href="#"><i class="fas fa-phone"></i>+123-456-7890</a>
			<a href="#"><i class="fas fa-envelope"></i>konynali110@gmail.com</a>
		     <a href="#"><i class="fas fa-map"></i>Pakistan,Wah catt</a>		
		</div>

		<div class="box">
			<h3>follow us</h3>
			<a href="#"><i class="fas fa-facebook"></i>Facebook</a>	
			<a href="#"><i class="fas fa-twitter"></i>Twitter</a>	
			<a href="#"><i class="fas fa-instagram"></i>Instagram</a>
			<a href="#"><i class="fas fa-linkedin"></i>Linkedin</a>	
		</div>
	</div>
	<div class="credit"> Created by <span>Ms. Konyn</span> | al rights preserved! </div>

</section>		

<!--swiper JS link-->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script>
        // Function to get query parameter value by name
        function getQueryParameter(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }

        // Fill the input field with the value from the URL parameter
        document.addEventListener('DOMContentLoaded', function() {
            const locationValue = getQueryParameter('location');
            if (locationValue) {
                document.getElementById('location').value = locationValue;
            }
        });
    </script>
<!--custom JS -->
<script src="{{ url_for('static',filename='main.js')}}"></script>
</body>
</html>